Mule4-master/aadhar-project/src/main/app/aadhar-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="Welcome123" database="aadharmuleproject" doc:name="MySQL Configuration"/>
    <flow name="aadhar-projectFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/registration" allowedMethods="GET" doc:name="HTTP"/>
        <parse-template location="D:\anypoint workspace\aadhar-project\src\main\resources\Registration.html" doc:name="Parse Template"/>
    </flow>
    <flow name="aadhar-projectFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/registration" doc:name="HTTP"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO aadhar VALUES (#[payload.fullname], #[payload.phonenumber],
#[payload.address], #[payload.username], #[payload.password])]]></db:parameterized-query>
        </db:insert>
        <parse-template location="D:\anypoint workspace\aadhar-project\src\main\resources\registrationSuccessful.html" doc:name="Parse Template"/>
    </flow>
    <flow name="aadhar-projectFlow2">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/login" allowedMethods="GET" doc:name="HTTP"/>
        <parse-template location="D:\anypoint workspace\aadhar-project\src\main\resources\Login.html" doc:name="Parse Template"/>
    </flow>
    <flow name="aadhar-projectFlow3">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/show" doc:name="HTTP"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT fullname,phonenumber,address FROM aadhar WHERE (username=#[payload.username] AND 
password=#[payload.password])]]></db:parameterized-query>
        </db:select>
    </flow>
</mule>
