ALL Mule RelatedR/Mule3-master/variabledemo/src/main/app/variabledemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8093" doc:name="HTTP Listener Configuration"/>
    <flow name="variabledemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="HTTP"/>
        <set-variable variableName="flowvar" value="The Flow Variable is set" doc:name="Variable"/>
        <set-session-variable variableName="sessionvar" value="The session variable is set" doc:name="Session Variable"/>
        <set-payload value="success" doc:name="Set Payload"/>
        <logger message="#[flowVars.flowvar]" level="INFO" doc:name="Logger"/>
        <logger message="#[sessionVars.sessionvar]" level="INFO" doc:name="Logger"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="vmqvar" doc:name="VM"/>
    </flow>
    <flow name="displayVarFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="vmqvar" doc:name="VM"/>
        <logger message="#[flowVars.flowvar]" level="INFO" doc:name="Logger"/>
        <logger message="#[sessionVars.sessionvar]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
