ALL Mule RelatedR/Mule3-master/mule-expression-language-example/src/main/app/mule-expression-language-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration1" host="localhost" port="8082" doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration2" host="localhost" port="8083" doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration3" host="localhost" port="8084" doc:name="HTTP Listener Configuration"/>
    <flow name="mule-expression-language-exampleFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/mel1" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="Hello #[message.inboundProperties.'http.query.params'.username]" doc:name="Set Payload"/>
    </flow>
    <flow name="mule-expression-language-dynamically-routing-by-evaluating-condition">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/mel2" doc:name="HTTP"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.query.params'.username ==empty]">
                <set-payload value="No Username Provided" doc:name="Set Payload For Invalid username"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <set-payload value="Hello #[message.inboundProperties.'http.query.params'.username]" doc:name="Set Payload For Valid UserName"/>
                <logger level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="mule-expression-language-variable-assignment-and-evaluating-condition">
        <http:listener config-ref="HTTP_Listener_Configuration2" path="/mel3" allowedMethods="GET" doc:name="HTTP"/>
        <expression-component doc:name="Expression"><![CDATA[flowVars.username = message.inboundProperties.'http.query.params'.username]]></expression-component>
        <set-payload value="#[message.inboundProperties.'http.query.params'.username],
#[message.inboundProperties.'http.query.params'.age],
#[message.inboundProperties.'http.query.params'.age &gt; 18]" doc:name="Set Payload"/>
        <file:outbound-endpoint path="src/main/resources/output" responseTimeout="10000" doc:name="File"/>
        <set-payload value="Hello #[flowVars.username]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="mule-expression-language-exampleFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration3" path="/mel4" allowedMethods="POST" doc:name="HTTP"/>
        <expression-component doc:name="Expression"><![CDATA[flowVars.username = xpath3('/user/username').text]]></expression-component>
        <set-payload value="#[xpath('/user/username').text],
#[xpath('/user/age').text],
#[xpath('/user/age').text &lt; 18]" doc:name="Set Payload"/>
        <file:outbound-endpoint path="src/main/resources/output2" responseTimeout="10000" doc:name="File"/>
        <set-payload value="Hello #[flowVars.username]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
