ALL Mule RelatedR/Mule3-master/vmdemo/src/main/app/vmdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8091" doc:name="HTTP Listener Configuration"/>
    <flow name="vmdemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="HTTP"/>
        <set-payload doc:name="Set Payload" value="The message is in VM Queue"/>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
        <vm:outbound-endpoint exchange-pattern="one-way"  doc:name="VM" path="vmq"/>
    </flow>
    <flow name="vmdemoFlow1">
        <vm:inbound-endpoint exchange-pattern="one-way" path="vmq" doc:name="VM"/>
        <file:outbound-endpoint path="D:\mule\vmdemo\output" outputPattern="akshatha.txt" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
