Mule4-master/Mule4-master/dw-transform-1/src/main/app/dw-transform-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="dw-transform-1-transforming-json-to-xml">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dw" allowedMethods="POST" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="ad40ebca-d958-47f6-a8c9-be11f13c5e66">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	Employee: {
		FirstName: payload.FirstName,
		LastName: payload.LastName,
		Age: payload.Age,
		Designation: payload.Designation
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <file:outbound-endpoint path="src/test/resources/out" responseTimeout="10000" doc:name="File"/>
    </flow>
    <flow name="transforming-json-to-json-by-combining-first-and-last-name">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dw2" allowedMethods="POST" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="ad40ebca-d958-47f6-a8c9-be11f13c5e66">
            <dw:input-payload doc:sample="sample_data\json.json" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	Name: payload.FirstName++ ' ' ++ payload.LastName,
	Age: payload.Age,
	Position: payload.Designation
}]]></dw:set-payload>
        </dw:transform-message>
        <file:outbound-endpoint path="src/test/resources/out" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
