ALL Mule RelatedR/Mule3-master/apdev-examples-flows-global-element/target/classes/apdev-examples-flows-global-element.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <vm:connector name="VM" validateConnections="true" doc:name="VM"/>
    
    <flow name="apdev-examples-flowsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/hello" doc:name="HTTP"/>
        <flow-ref name="subFlow1" doc:name="subFlow1"/>
        <flow-ref name="subFlow2" doc:name="subFlow2"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="vmq" doc:name="VM" connector-ref="VM"/>
        <logger message="Name : #[message.outboundProperties.qpname] Type : #[flowVars.qptype] Color : #[sessionVars.color]" level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="flow2">
        <vm:outbound-endpoint exchange-pattern="one-way" path="vmq" doc:name="VM"/>
        <set-payload value="goofBye" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger"/>
    </sub-flow>
    <sub-flow name="subFlow1">
        <set-payload value="#['Hello World'.toUpperCase()]" doc:name="Set Payload"/>
        <set-property propertyName="qpname" value="#[message.inboundProperties.'http.query.params'.name]" doc:name="Property"/>
    </sub-flow>
    <sub-flow name="subFlow2">
        <set-variable variableName="qptype" value="#[message.inboundProperties.'http.query.params'.type]" doc:name="Variable"/>
        <set-session-variable variableName="color" value="prusian blue" doc:name="Session Variable"/>
    </sub-flow>
</mule>