ALL Mule RelatedR/Mule3-master/choice-router-flow-reference-2/src/main/app/choice-router-flow-reference-2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="choice-router-flow-reference-2Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/choice" doc:name="HTTP" allowedMethods="GET"/>
        <expression-filter expression="#[message.inboundProperties.'http.request.uri' != '/favicon.ico']" doc:name="Expression"/>
        <set-variable variableName="language" value="#[message.inboundProperties.'http.query.params'.language]" doc:name="Set Language Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.language=='French']">
                <set-payload value="Et voila" doc:name="Reply in French"/>
            </when>
            <when expression="#[flowVars.language=='Spanish']">
                <set-payload value="Hermosa" doc:name="Reply in Spanish"/>
            </when>
            <otherwise>
                <set-variable variableName="language" value="#[message.inboundProperties.'http.query.params'.english]" doc:name="Set Language To English"/>
                <set-payload value="Hello beautiful" doc:name="Reply in English"/>
            </otherwise>
        </choice>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
