ALL Mule RelatedR/Mule3-master/choice-router-and-flow-reference/src/main/app/choice-router-and-flow-reference.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8082" doc:name="HTTP Listener Configuration"/>
    <flow name="choice-router-and-flow-referenceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/choice" doc:name="HTTP"/>
        <set-session-variable variableName="method" value="#[message.inboundProperties.'http.method']" doc:name="Session Variable"/>
        <logger message="#[sessionVars.method]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[sessionVars.method=='GET']">
                <logger message="We are using GET method" level="INFO" doc:name="GET Logger"/>
            </when>
            <when expression="#[sessionVars.method=='PUT']">
                <logger message="We used the PUT method" level="INFO" doc:name="PUT Logger"/>
            </when>
            <otherwise>
                <logger message="The method is something other than GET and PUT" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <set-payload value="#[sessionVars.method]" doc:name="Set Payload"/>
    </flow>
    <flow name="Copy_of_choice-router-and-flow-referenceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/choice2" doc:name="HTTP"/>
        <set-session-variable variableName="method" value="#[message.inboundProperties.'http.method']" doc:name="Session Variable"/>
        <logger message="#[sessionVars.method]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[sessionVars.method=='PUT']">
                <flow-ref name="getLogger" doc:name="GET Flow Reference"/>
            </when>
            <when expression="">
                <flow-ref name="putLogger" doc:name="PUT Flow Reference"/>
            </when>
            <otherwise>
                <logger message="The method is something other than GET and PUT" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <set-payload value="#[sessionVars.method]" doc:name="Set Payload"/>
    </flow>
    <flow name="getLogger">
        <logger message="This is GET method" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="putLogger">
        <logger message="This is PUT method" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
